@font-face {
    font-family: 'Akbar';
    src:url('webfont/Akbar.ttf.woff') format('woff'),
        url('webfont/Akbar.ttf.svg#Akbar') format('svg'),
        url('webfont/Akbar.ttf.eot'),
        url('webfont/Akbar.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {background: transparent;}
.jumbotron {background:rgba(79,118,233,.75); padding: 10px 0 2px 0;}

.container {
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

@media (max-width: 480px) {
  h1 {
     font-family: 'Akbar';
     color: #FFD90F;
     font-size: 3em;
     line-height: .45;
     text-shadow: 5px 5px #000
  }

  h3 {
     font-family: 'Akbar';
     color: #FFD90F;
     font-size: 2em;
     text-shadow: 2px 2px #000
  }

  p {
    font-family: 'Akbar';
    color: #000;
    font-size: 1em;
  }

  .display-3 {line-height: .75; padding-bottom: 20px; padding-top: 10px}

  #explanation {
    color: #000;
  }

  #answers {
    padding-bottom: 10px;
    font-family: 'Akbar';
    color: #000;
    font-size: 1em;}

  #image {padding-bottom: 10px;}
  .start {font-size: 2em; padding: 5px; width: 60%;}
  button {font-family: 'Akbar'; background-color: #4F76DF; width: 20%; margin-top: 5px; color: #FFD90F; padding: 10px;}

}


@media (max-width: 480px) {
  h1 {
     font-family: 'Akbar';
     color: #FFD90F;
     font-size: 3em;
     line-height: .45;
     text-shadow: 5px 5px #000
  }

  h3 {
     font-family: 'Akbar';
     color: #FFD90F;
     font-size: 2em;
     text-shadow: 2px 2px #000
  }

  p {
    font-family: 'Akbar';
    color: #000;
    font-size: 1em;
  }

  .display-3 {line-height: .75; padding-bottom: 20px; padding-top: 10px}
  .start {padding: 10px;}

  #explanation {
    color: #000;
  }

  #answers {
    padding-bottom: 10px;
    font-family: 'Akbar';
    color: #000;
    font-size: 1em;}

  #image {padding-bottom: 10px;}
  .start {font-size: 2em; padding: 5px; width: 70%;}
  button {font-family: 'Akbar'; background-color: #4F76DF; width: 50%; margin-top: 5px; color: #FFD90F; padding: 10px;}

 }


@media (min-width: 1024px) {
  h1 {
     font-family: 'Akbar';
     color: #FFD90F;
     font-size: 5em;
     line-height: .45;
     text-shadow: 5px 5px #000
  }

  h3 {
     font-family: 'Akbar';
     color: #FFD90F;
     font-size: 2em;
     text-shadow: 2px 2px #000
  }

  p {
    font-family: 'Akbar';
    color: #000;
    font-size: 1em;
  }

  .display-3 {line-height: .75; padding-bottom: 20px; padding-top: 10px}
  .start {padding: 10px;}

  #explanation {
    color: #000;
  }

  #answers {
    padding-bottom: 10px;
    font-family: 'Akbar';
    color: #000;
    font-size: 1em;}

  #image {padding-bottom: 10px;}
  .start {font-size: 2em; padding: 5px; width: 40%;}
  button {font-family: 'Akbar'; background-color: #4F76DF; width: 20%; margin-top: 5px; color: #FFD90F; padding: 10px;}

 }
