@font-face {
    font-family: 'Akbar';
    src:url('webfont/Akbar.ttf.woff') format('woff'),
        url('webfont/Akbar.ttf.svg#Akbar') format('svg'),
        url('webfont/Akbar.ttf.eot'),
        url('webfont/Akbar.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {background: transparent;}
.jumbotron {background:rgba(79,118,233,.75); padding: 10px 0 2px 0;}

.container {
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

h1 {
   font-family: 'Akbar';
   color: #FFD90F;
   font-size: 6em;
   text-shadow: 5px 5px #000
}

h3 {
   font-family: 'Akbar';
   color: #FFD90F;
   font-size: 2em;
   text-shadow: 2px 2px #000
}

p {
  font-family: 'Akbar';
  color: #000;
  font-size: 1em;
}

#explanation {
  color: #000;
}

#answers {
  padding-bottom: 10px;
  font-family: 'Akbar';
  color: #000;
  font-size: 1em;}

#image {padding-bottom: 10px;}
.start {font-size: 2em; }
button {font-family: 'Akbar';background-color: #4F76DF; margin-top: 5px; color: #FFD90F; padding: 5px;}
